# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# **Objectives:**
# -List popular languages for Data Science
# -List popular Libraries for Data Science
# -Introducing arithmetic expression

# Some of the popular languages that Data Scientists use are:
# 1.Python
# 2.R
# 4.Scala

# Some of the commonly used libraries used by Data Scientists include:
# 1.NumPy
# 2.Pandas
# 3.TensorFlow

| Data Science Tools|
|------|
| RStudio |
| Apache Spark |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python.
### 1+2
### 4-2
### 4*3

In [16]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [17]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author 
Hasan Shuaib